asgiref==3.2.3
dj-database-url==0.5.0
Django==3.0.1
django-heroku==0.3.1
gitdb2==2.0.6
GitPython==3.0.5
gunicorn==20.0.4
mysql-connector==2.2.9
psycopg2==2.8.4
pytz==2019.3
selenium==3.141.0
smmap2==2.0.5
sqlparse==0.3.0
urllib3==1.25.7
virtualenv==16.7.9
virtualenvwrapper-win==1.2.5
whitenoise==5.0.1
